<form
  *ngIf="soap"
  #soapForm="ngForm"
  (ngSubmit)="update(soap)">
  
  <div class="form-group">
    <label class="font-weight-normal text-uppercase text-secondary" for="scripture">Scripture</label>
    <input
      type="text"
      class="form-control"
      id="scripture"
      name="scripture"
      [(ngModel)]="soap.scripture">
  </div>
  <hr>
  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      name="private"
      id="private"
      [(ngModel)]="soap.private">
    <label
      for="private"
      class="form-check-label">Private</label>
  </div>
  <hr>
  <div class="form-group">
    <label class="font-weight-normal text-uppercase text-secondary" for="application">Application</label>
    <textarea
      class="form-control"
      id="application"
      name="application"
      [(ngModel)]="soap.application">
    </textarea>
  </div>
  <hr>
  <div class="form-group">
    <label class="font-weight-normal text-uppercase text-secondary" for="observation">Observation</label>
    <textarea
      class="form-control"
      id="observation"
      name="observation"
      [(ngModel)]="soap.observation">
    </textarea>
  </div>
  <hr>
  <div class="form-group">
    <label class="font-weight-normal text-uppercase text-secondary" for="prayer">Prayer</label>
    <textarea
      class="form-control"
      id="prayer"
      name="prayer"
      [(ngModel)]="soap.prayer">
    </textarea>
  </div>
  <hr>
  <button
    type="submit"
    class="btn btn-primary">Update</button>
</form>
