<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/soap">SOAP</a>
    <div class="navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/soap" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Feed</a>
        <a class="nav-item nav-link" routerLink="/soap/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Create</a>
      </div>
    </div>
    <span class="navbar-text">
      <span *ngIf="afAuth.authState | async as user; else showLogin">
        <span>Hello {{ user.displayName }}!</span>
          <a (click)="logout()">Logout</a>
        </span>
        <ng-template #showLogin>
          <a (click)="login()">Login with Google</a>
        </ng-template>
    </span>
  </nav>
</header>